lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pem
*.exe
*.crt
*.csr
*.key
*.pot
*.sublime-workspace

pids
logs
results

npm-debug.log
.generator-release

.tmp
.settings
*/.DS_Store
.DS_Store
.DS_Store?
build/
deploy/
generated/
bin/
